* {
    font-family: sans-serif;
}

.board {
    border-collapse: collapse;
    max-width: 500px;
    max-height: 500px;
}

.coord {
    /* display: none */
    color: grey;
    float: left
}

.square {
    width : 50px;
    height: 50px;
    border: black solid 2px;
}

.square.white {
    background-color: #eeeeee;
}

.square.black {
    background-color: #999999;
}

.piece {
	  border: black solid 2px;
	  width: 50%;
	  height: 80%;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
	  margin: auto;
}

.piece.white {
    background-color: #ffffff;
}

.piece.black {
    background-color: #666666;
}

.piece.arrow {
    height: 50%;
    border-radius: 100px;
    margin-top: 25%;
    background-color: #666666;
}
